
// src/assets/scrollbar.scss

// Scrollbar track
::-webkit-scrollbar {
  width: 10px;
}

// Scrollbar thumb
::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border-radius: 5px;
}

// Scrollbar thumb on hover
::-webkit-scrollbar-thumb:hover {
  background-color: $scrollbar-thumb-hover-color;
}

// Scrollbar track on hover
::-webkit-scrollbar-track:hover {
  background-color: $scrollbar-track-hover-color;
}

// Scrollbar thumb when pressed
::-webkit-scrollbar-thumb:active {
  background-color: $scrollbar-thumb-active-color;
}

// Scrollbar track when pressed
::-webkit-scrollbar-track:active {
  background-color: $scrollbar-track-active-color;
}
